body {
    font-family: sans;
    font-size: 1.5em;
    margin-left:1px;
}
#push {
    clear: both;
    margin-top: 150px;
}
#central_content {
    margin-top: 10px;
    margin-left: 20px;
}
img {
    float:left;
    padding: 5px;
}
em {
    font-style: italic;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
